html,
body,
.screen,
.carbonation,
h1,
#fine-print {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.screen,
.carbonation {
  position: absolute;
}

h1 {
  position: absolute;
  top: -30px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  height: 160px;
  line-height: 160px;

  font-size: 140px;
  text-align: center;
  vertical-align: middle;
}

#fine-print {
  position: absolute;
  display: flex;
  align-items: end;
  justify-content: end;

  font-size: 10px;
  line-height: 15px;
  text-align: end;
}

#fine-print p {
  margin-right: 10px;
}

h1, #fine-print {
  font-family: Georgia, serif;

  z-index: 40;

  color: #FFFFFF;
  opacity: 0.55;
}

.screen {
  z-index: 30;

  background: #BF5C01;
}

.carbonation {
  display: block;

  z-index: 20;
}
